*/.metadata/
*/.idea/
*.iml
*/Aministrador.class
*/Ciudadano.class
*/Colectivo.class
*/ElementoColectivo.class
*/EstadoProyecto.class
*/Notificacion.class
*/Usuario.class
*/Proyecto.class
*/Administrador.class
*/*.class